
    <div class="event__modal__container animate__animated animate__zoomIn" style="background-color: #FFF2FD">
      
        <div class="event__image__small">
            <img class="image modal__poster__small" src="{{images.[1].url}}" alt="{{name}}" title="{{name}}" />
        </div>
        <div class="modal__event__button__top">
        {{#if auth}}    
        <button type="button" class="modal__event__button__save {{#if booked}}btn__status__save{{/if}}" data-id="{{id}}"
            data-action="booked" data-controls>{{#if booked}}
            REMOVE EVENT
            {{else}}
            SAVE EVENT
            {{/if}}
        </button>
        </div>
        {{/if}}

        <div class="modal__event__information">
            <div class="modal__image_poster">
                <img class="image image__poster" src="{{images.[1].url}}" alt="{{name}}" title="{{name}}" />
            </div>
            <div class="modal__event__details">

                <ul>
                    <li class="event__modal__item">
                        <p class="modal__event__details__title">INFO</p>
                        <p class="modal__event__info modal__event__info__text">
                            {{name}} 
                        </p>
                    </li>
                    <li class="event__modal__item">
                        <p class="modal__event__details__title ">WHEN</p>

                        <p class="modal__event__info modal__event__info_where">{{dates.start.localDate}}</p>
                        <p class="modal__event__info">{{dates.start.localTime}} ({{dates.timezone}})</p>
                    </li>
                    <li class="event__modal__item">
                        <p class="modal__event__details__title">WHERE</p>
                        <p class="modal__event__info modal__event__info_where">{{_embedded.venues.[0].city.name}}, {{_embedded.venues.[0].country.name}}</p>
                        <p class="modal__event__info">{{_embedded.venues.[0].name}}</p>
                    </li>
                    <li class="event__modal__item">
                        <p class="modal__event__details__title">WHO</p>
                        <p class="modal__event__info">{{name}}
                        </p>
                    </li>
                    <li class="event__modal__item">
                        <p class="modal__event__details__title">PRICES</p>
                        <div class="modal__barcode_standart_vip modal__barcode">
                           

                            <p class="modal__event__info">Standart {{priceRanges.[0].min}} {{priceRanges.[0].currency}}
                            </p>
                        </div>
                        <div class="modal__event__button__box">


                        <button type="button" class=" modal__event__button btn__standart  
                        {{#ifCond cheap "&&" auth}}btn__status__buy{{/ifCond}}" data-id="{{id}}" 
                        data-action="cheap" data-controls {{#unless auth}} data-url="{{url}}"{{/unless}}>
                        {{#ifCond cheap "&&" auth}}SELL TICKETS{{else}}BUY TICKETS{{/ifCond}}
                        </button>

                            </div>
                        <div class="modal__barcode_standart_vip modal__barcode ">
        
                            <p class="modal__event__info">VIP {{priceRanges.[0].max}} {{priceRanges.[0].currency}}</p>
                        </div>
                        <div class="modal__event__button__box">
                        <button type="button" class=" modal__event__button btn__vip  
                        {{#ifCond expensive "&&" auth}}btn__status__buy{{/ifCond}}"  data-action="expensive" 
                        data-id="{{id}}"  data-controls {{#unless auth}} data-url="{{url}}"{{/unless}}>
                        {{#ifCond expensive "&&" auth}}SELL TICKETS{{else}}BUY TICKETS{{/ifCond}}</button>
                            </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="modal__event__button__down">
            <button type="button" class="modal__event__button__more" data-id="{{name}}" data-find>MORE FROM THIS AUTHOR</button>
            
        </div>       
                    
        <button type="button" class="modal__button modal__event_close " data-action="close-modal-custom"> </button>
    </div>

