<li class="event-item">
    <article class="event-card">

        <div class="event-card__poster-container">
            <a href="#" class="event-card__poster-link" data-attr="{{id}}">
                <img class=" event-card__poster-img" src="{{images.[1].url}}" alt="{{name}}" data-attr="{{id}}" />
            </a>
        </div>

        <div class="event-card__info">
            <a href="#" class="event-card__title-link" title="{{name}}" data-attr="{{id}}">
                <h2 class="event-card__title" data-attr="{{id}}">{{name}}</h2>
                <p class="event-card__date" data-attr="{{id}}">{{dates.start.localDate}}</p>
            </a>

            <a href="{{_embedded.venues.[0].url}}" class="event-card__place-link" target="_blank"
                rel="noreferrer noopener">
                {{_embedded.venues.[0].name}}
            </a>

        </div>
    </article>
</li>